// @import '~normalize.css/normalize.css';
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, i, hr,
ul, li,
form, label,
table, tr, th, td,
article, aside, 
footer, header,
menu, nav, section, 
button,
time, mark {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle;
}

a img {
  border: none;
}
article, aside, footer, header, menu, nav, section {
  display: block;
}